@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Rampart+One&display=swap');

body::-webkit-scrollbar {
    width: 7px;       
  }
body::-webkit-scrollbar-track {
    background: rgb(60, 186, 218);
  }
body::-webkit-scrollbar-thumb {
    background-color: rgb(176, 176, 194);
    border-radius: 10px;
  }

#navbar{
    background-color: rgba(111,206,227,1);
    opacity: 0.88;
    padding-bottom: 2px;
}
h2{
    font-family: 'Rampart One', cursive;
    font-weight:bolder;
}
#foto-perfil{
    border-radius: 10%;
    box-shadow: 0 0 2px 2px black;
    margin-bottom: 20px;
}
#container-principal{
    padding-top: 24vh;
    padding-bottom: 14.3vh;
    background: rgb(15,6,186);
    background: linear-gradient(354deg, rgba(15,6,186,1) 0%, rgba(77,77,105,1) 36%, rgba(111,206,227,1) 100%);
}
#container-body{
    background: rgb(15,6,186);
    background: linear-gradient(354deg, rgba(15,6,186,1) 0%, rgba(77,77,105,1) 36%, rgba(111,206,227,1) 100%);
}
p{
    font-family: 'Gloock', serif;
    size: 15px;
}
.bloque-info
{
    margin: 20px;
    padding:20px;
    
    font-size: 20px;
    color: whitesmoke;
}
#container-principal a
{
    width: 1fr;
    transition: 0.1s;
}
#container-principal a:hover{
    width: 100%;
}
.material-symbols-outlined
{
    transition:0.1s;
    scale: 1;
    cursor: pointer;
}
.material-symbols-outlined :hover{
    scale:2;
    cursor: pointer;                
}
footer{
    background: rgba(57, 57, 97, 0.911);
    opacity: 0.85;
    height: 13.2vh;
    position:relative;
    text-align: center;
    font-weight: bold;
}

footer p{
    padding-top: 4vh;
    color: #000000;
}

@media screen and (max-width:480px) {
    #logo-cv{
        width: 120px;
        height:auto;
    }
   #columnas-principal{
    margin-left: 80px;
    }
    #mapaUbicacion{
        width:100%;
    }
    footer{
        height: 100%;
    }
}